 body {
     background-image: url('Backimage.jpg');
     background-repeat: no-repeat;
     background-size: 1450px;
 }

 .main{
    text-align: center;
 }

 .par{
    margin-top: 445px;
    display: inline-block;
    border: 3px solid #ffe712;
    background-image: url('image11.jpg');
    color: aliceblue;
    font-size: 50px;
    height: 59px;
    width: 400px;
    border-radius: 23px;

   /* color: ; */
 } 

 .button a{
    text-decoration: none;
    /* background-color: white;  */
    color: black;
    
 }

 .button {
    /* background-color: #4CAF50; Green */
    /* color: white; */
    /* border: none; */
    cursor: pointer; 
    text-decoration: none;
    border: 2px solid #4CAF50;
    padding: 16px 32px;
    background-color: white; 
    /* color: black;  */
    border-radius: 23px;
    /* text-align: center; */
    font-size: 16px;
    /* display: inline-block; */
    /* margin: 4px 2px; */
    transition-duration: 0.4s;
    margin-top: 5px;
  }
  
  .button:hover {
    background-color: #4CAF50;
    font-size: 26px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  a:hover{
    /* background-color: #4CAF50; */
    color: white;
  }